ci:
  autofix_commit_msg: "[pre-commit.ci] auto fixes from pre-commit.com hooks"
repos:
  - repo: builtin
    hooks:
      - id: check-yaml
      - id: trailing-whitespace
      - id: check-toml
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: ["--output-format=concise"]
        name: "lint with ruff"
      - id: ruff-format
        name: "format with ruff"

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1 # Use the sha / tag you want to point at
    hooks:
      - id: mypy
        name: "run mypy"
        additional_dependencies:
          - pydantic
          - sqladmin

  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.9.18
    hooks:
      # Update the uv lockfile
      - id: uv-lock
      - id: uv-export
        name: "Export dependencies to 'requirements.txt'"
        args:
          [
            "--no-hashes",
            "--no-dev",
            "--no-emit-project",
            "--output-file=requirements.txt",
          ]
      - id: uv-export
        name: "Export dev dependencies to 'requirements-dev.txt'"
        args:
          [
            "--no-hashes",
            "--no-emit-project",
            "--output-file=requirements-dev.txt",
          ]
