ci:
  autofix_commit_msg: "[pre-commit.ci] auto fixes from pre-commit.com hooks [dependabot skip]"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: trailing-whitespace
      - id: check-toml
      - id: check-merge-conflict
      - id: end-of-file-fixer

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.2
    hooks:
      - id: ruff
        args: ["--output-format=concise"]
        name: "lint with ruff"
      - id: ruff-format
        name: "format with ruff"

  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.21
    hooks:
      - id: pymarkdown
        name: "check markdown"
        exclude: ^.github/|CHANGELOG
        args: [-d, "MD046", scan]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.10.1" # Use the sha / tag you want to point at
    hooks:
      - id: mypy
        name: "Check with Mypy"

  - repo: https://github.com/python-poetry/poetry
    rev: "1.8.0"
    hooks:
      - id: poetry-check
        name: "check poetry files"
      # - id: poetry-lock

  - repo: https://github.com/python-poetry/poetry-plugin-export
    rev: "1.8.0"
    hooks:
      - id: poetry-export
        name: "export production dependencies"
        args:
          [
            "--without-hashes",
            "-f",
            "requirements.txt",
            "-o",
            "requirements.txt",
            "--without",
            "dev",
          ]
      - id: poetry-export
        name: "export development dependencies"
        args:
          [
            "--without-hashes",
            "-f",
            "requirements.txt",
            "-o",
            "requirements-dev.txt",
            "--with",
            "dev",
          ]
