[tool.poetry]
name = "API Template"
version = "1.4.1"
description = "Run 'api-admin custom metadata' to change this information."
authors = ["Grant Ramsay (seapagan) <seapagan@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8.1,<4.0"
fastapi = "^0.95.1"
alembic = "^1.11.1"
databases = "^0.7.0"
SQLAlchemy = "^1.4.48"
asyncpg = "^0.27.0"
python-decouple = "^3.8"
psycopg2 = "^2.9.6"
PyJWT = "^2.7.0"
Jinja2 = "^3.1.2"
rich = "^13.3.5"
asyncclick = "^8.1.3.4"
anyio = "^3.6.2"
email-validator = "^1.3.1"
tomli = "^2.0.1"
tomli-w = "^1.0.0"
typer = { extras = ["all"], version = "^0.8.0" }
mkdocs = "^1.4.3"
mkdocstrings = { extras = ["python"], version = "^0.21.2" }
mkdocs-material = "^9.1.14"
poetry = "^1.5.1"

[tool.poetry.dependencies.fastapi-mail]
extras = ["httpx"]
version = "^1.2.8"

[tool.poetry.dependencies.uvicorn]
extras = ["standard"]
version = "^0.22.0"

[tool.poetry.dependencies.passlib]
extras = ["bcrypt"]
version = "^1.7.4"

[tool.poetry.group.dev.dependencies]
openapi-readme = "^0.2.1"
aiosmtpd = "^1.4.4"
flake8 = "^6.0.0"
flake8-docstrings = "^1.7.0"
flake8-pyproject = "^1.2.3"
flake8-pytest-style = "^1.7.2"
black = "^23.3.0"
pep8-naming = "^0.13.3"
pylint = "^2.17.4"
pydocstyle = "^6.3.0"
pre-commit = "^3.3.1"
bandit = "^1.7.5"
poethepoet = "^0.20.0"
httpx = "0.23.3"
pytest = "^7.3.1"
pytest-cov = "^4.0.0"
pytest-xdist = "^3.2.1"
pytest-sugar = "^0.9.7"
pytest-randomly = "^3.12.0"
pytest-reverse = "^1.5.0"
pymdown-extensions = "^10.0.1"
pygments = "^2.15.1"
mkdocs-swagger-ui-tag = "^0.6.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poe.tasks]
serve = "uvicorn main:app --reload"
pre = "pre-commit run --all-files"
"docs:publish" = "mkdocs gh-deploy"

[tool.flake8]
exclude = ["__init__.py", ".git", "migrations/versions/*"]
max-line-length = 80
docstring-convention = "google"

[tool.bandit]
exclude_dirs = ["config/settings.py", "schemas/examples.py"]

[tool.bandit.assert_used]
skips = ['*_test.py', '*/test_*.py']

[tool.pydocstyle]
# add-ignore = ["D104"]

[tool.pytest.ini_options]
filterwarnings = ["ignore:'crypt' is deprecated:DeprecationWarning"]
