[tool.poetry]
name = "API Template"
version = "1.3.3"
description = "Run 'api-admin custom metadata' to change this information."
authors = ["Grant Ramsay (seapagan) <seapagan@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8.1,<4.0"
fastapi = "^0.95.0"
alembic = "^1.10.3"
databases = "^0.7.0"
SQLAlchemy = "^1.4.47"
asyncpg = "^0.27.0"
python-decouple = "^3.8"
psycopg2 = "^2.9.6"
PyJWT = "^2.6.0"
Jinja2 = "^3.1.2"
rich = "^12.6.0"
asyncclick = "^8.1.3.4"
anyio = "^3.6.2"
email-validator = "^1.3.1"
tomli = "^2.0.1"
tomli-w = "^1.0.0"

[tool.poetry.dependencies.fastapi-mail]
extras = ["httpx"]
version = "^1.2.7"

[tool.poetry.dependencies.uvicorn]
extras = ["standard"]
version = "^0.21.1"

[tool.poetry.dependencies.passlib]
extras = ["bcrypt"]
version = "^1.7.4"

[tool.poetry.group.dev.dependencies]
openapi-readme = "^0.2.1"
aiosmtpd = "^1.4.4"
flake8 = "^6.0.0"
black = "^23.3.0"
pep8-naming = "^0.13.3"
pylint = "^2.17.2"
flake8-docstrings = "^1.7.0"
pydocstyle = "^6.3.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
