[tool.poetry]
name = "API Template"
version = "0.5.0-beta0"
description = "Run 'api-admin custom metadata' to change this information."
authors = ["Grant Ramsay (seapagan) <seapagan@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
fastapi = { extras = ["all"], version = "^0.103.0" }
alembic = "^1.12.0"
asyncpg = "^0.28.0"
python-decouple = "^3.8"
psycopg2 = "^2.9.7"
PyJWT = "^2.8.0"
Jinja2 = "^3.1.2"
rich = "^13.5.2"
asyncclick = "^8.1.3.4"
anyio = "^4.0.0"
email-validator = "^2.0.0.post2"
tomli = "^2.0.1"
tomli-w = "^1.0.0"
typer = { extras = ["all"], version = "^0.8.0" }
poetry = "^1.6.1"
sqlalchemy = { extras = ["asyncio"], version = "^2.0.20" }
pydantic = "^2.3.0"
pydantic-settings = "^2.0.3"

[tool.poetry.dependencies.fastapi-mail]
extras = ["httpx"]
version = "^1.4.1"

[tool.poetry.dependencies.uvicorn]
extras = ["standard"]
version = "^0.23.2"

[tool.poetry.dependencies.passlib]
extras = ["bcrypt"]
version = "^1.7.4"

[tool.poetry.group.dev.dependencies]
aiosmtpd = "^1.4.4"
aiosqlite = "^0.19.0"
bandit = "^1.7.5"
black = "^23.7.0"
flake8 = "^6.1.0"
flake8-docstrings = "^1.7.0"
flake8-pyproject = "^1.2.3"
flake8-pytest-style = "^1.7.2"
flake8-type-checking = "^2.4.1"
httpx = "0.23.3"
isort = "^5.12.0"
mypy = "^1.5.1"
openapi-readme = "^0.2.4"
pep8-naming = "^0.13.3"
pylint = "^2.17.5"
pydocstyle = "^6.3.0"
pre-commit = "^3.4.0"
tryceratops = "^2.3.2"

# task runner
poethepoet = "^0.22.1"

# testing
faker = "^19.3.0"
mock = "^5.1.0"
pytest = "^7.4.1"
pytest-asyncio = "^0.21.1"
pytest-cov = "^4.0.0"
pytest-mock = "^3.11.1"
pytest-randomly = "^3.15.0"
pytest-reverse = "^1.7.0"
pytest-sugar = "^0.9.7"

# docs
mkdocs = "^1.5.2"
mkdocstrings = { extras = ["python"], version = "^0.23.0" }
mkdocs-git-revision-date-localized-plugin = "^1.2.0"
mkdocs-latest-git-tag-plugin = "^0.1.2"
mkdocs-material = "^9.2.8"
mkdocs-minify-plugin = "^0.7.1"
mkdocs-swagger-ui-tag = "^0.6.4"
pymdown-extensions = "^10.3"
pygments = "^2.16.1"

# additional packages

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poe.tasks]
serve = "uvicorn main:app --reload"
pre = "pre-commit run --all-files"
lint = "pylint **/*.py"
_publish_docs = "mkdocs gh-deploy"
_build_docs = "mkdocs build"
openapi = "./api-admin docs openapi --prefix=docs/reference"
"docs:publish" = ["openapi", "_publish_docs"]
"docs:build" = ["openapi", "_build_docs"]
"docs:serve" = "mkdocs serve -a 0.0.0.0:9000"
try = "tryceratops **/*.py"

[tool.flake8]
max-line-length = 80
exclude = ["__init__.py", ".git", "app/migrations/versions/*", "old_tests/*"]
extend-ignore = ["E203", "W503"]
extend-select = ["TC", "TC1", "TRY"]
docstring-convention = "google"
type-checking-pydantic-enabled = true
classmethod-decorators = ["classmethod", "validator"]

[tool.isort]
profile = "black"

[tool.black]
line-length = 80
exclude = '''
/(
    \.git
  | \.mypy_cache
  | \.tox
  | venv
  | \.venv
  | _build
  | build
  | dist
)/
'''

[tool.bandit]
exclude_dirs = ["config/settings.py", "schemas/examples.py"]

[tool.bandit.assert_used]
skips = ['*_test.py', '*/test_*.py']

[tool.pydocstyle]
add-ignore = ["D104"]

[tool.pytest.ini_options]
addopts = [
  "-m",
  "not integration",
  "--cov",
  "--cov-report",
  "term-missing",
  "--cov-report",
  "html",
]
filterwarnings = ["ignore:'crypt' is deprecated:DeprecationWarning"]
mock_use_standalone_module = true
markers = ["unit: Unit tests", "integration: Integration tests"]
testpaths = ["tests"]

[tool.coverage.run]
# source = []
omit = ["*/tests/*"]

[tool.pymarkdown]
plugins.md014.enabled = false
