[tool.poetry]
name = "API Template"
version = "1.1.1"
description = "Run 'api-admin custom metadata' to change this information."
authors = ["Grant Ramsay <seapagan@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7"
fastapi = "^0.86.0"
alembic = "^1.8.1"
databases = "^0.6.1"
SQLAlchemy = "^1.4.43"
asyncpg = "^0.27.0"
python-decouple = "^3.6"
psycopg2 = "^2.9.5"
PyJWT = "^2.6.0"
Jinja2 = "^3.1.2"
rich = "^12.6.0"
asyncclick = "^8.1.3.4"
anyio = "^3.6.2"
email-validator = "^1.3.0"
tomli = "^2.0.1"
tomli-w = "^1.0.0"
fastapi-mail = {extras = ["httpx"], version = "^1.2.0"}

[tool.poetry.dependencies.uvicorn]
extras = ["standard"]
version = "^0.19.0"

[tool.poetry.dependencies.passlib]
extras = ["bcrypt"]
version = "^1.7.4"

[tool.poetry.group.dev.dependencies]
openapi-readme = "^0.2.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
