{#
  Template : 'password_reset.html'
  Purpose  : This is sent as an email when a user requests a password reset.

  This is a very basic template, with no attempt at styling. Note that for HTML
  email, all styles must be INLINE.
#}

<p>Hello <strong>{{ name }}</strong>,</p>
<p>We received a request to reset your password for your <strong>{{ application }}</strong> account.</p>
<p>Please click the link below to <strong>reset your password</strong>:</p>

<a href="{{ base_url }}/reset-password?code={{ reset_token }}">Reset my Password</a>

<p>This link will expire after 30 minutes.</p>

<p><strong>If you did not request a password reset</strong>, please ignore this email. Your password will remain unchanged.</p>
