<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap"
      rel="stylesheet"
    />
    <link href="static/site.css" rel="stylesheet" />
    <base target="_blank" />
    <title>{{ title }}</title>
  </head>

  <body>
    <header>
      <h1>{{ title }}</h1>
      <h2>{{ description }}</h2>
    </header>
    <main>
      <p>This service is an API, there is nothing to see here ;)</p>
      <p>
        Go to the
        <a
          href="{{ repository }}"
          rel="noopener noreferrer"
          >GitHub</a
        >
        repository for the code and usage instructions.
      </p>
      <p>
        Visit the
        <a href="/docs" rel="noopener noreferrer">local documentation</a> for
        info on the API.
      </p>
    </main>
    <footer>
      &copy;
      <a href="{{ website }}" rel="noopener noreferrer"
        >{{ author }}</a
      >
      2022
    </footer>
  </body>
</html>
