{#
  Template : 'welcome.html'
  Purpose  : This is sent as an email when a new User registers.

  This is a very basic template, with no attempt at styling. Note that for HTML
  email, all styles must be INLINE.
#}

<p>Hello <strong>{{ name }}</strong>, Welcome to <strong>{{ application }}</strong>!</p>
<p>Please click the link below to <strong>verify your Email address</strong>.
You will be unable to access the API before doing this.</p>

<a href="{{ base_url }}/verify?code={{ verification }}">Verify my Email!</a>

<p>This code will expire after 10 minutes.</p>
